<footer class="background-light color-muted padding-20">
    <div class="footer-article-container flex flex-column">
        <article class="footer-article margin-y-20 text-center">
            <i class="fas fa-credit-card color-terciary font-size-4"></i>
            <h4 class="font-size-4">Pagá con tarjeta o en efectivo</h4>
            <p class="font-size-1">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="footer-article margin-y-20 text-center">
            <i class="fas fa-gift color-terciary font-size-4"></i>
            <h4 class="font-size-4">Envío gratis desde los $ 2.500</h4>
            <p class="font-size-1">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos.
                Es un beneficio de
                MercadoPuntos.</p>
        </article>
        <article class="footer-article margin-y-20 text-center">
            <i class="fas fa-user-shield color-terciary font-size-4"></i>
            <h4 class="font-size-4">Seguridad de principio a fin</h4>
            <p class="font-size-1">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque
                estás siempre prtegid@.
            </p>
        </article>
    </div>
    <div>
        <p class="font-size-1 text-center">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
</footer>