<header class="background-main padding-15">
    <div class="header-top flex flex-center flex-align-center">
        <img id="logo" class="width-50 padding-x-10" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        <form id="search-form" class="padding-x-10" action="#" method="GET">
            <div class="search-input font-size-2">
                <input type="search" placeholder="Buscar productos, marcas y más" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <p id="compra-en-cuotas" class="font-size-1 text-center padding-x-10">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </p>
    </div>

    <nav id="main-nav" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mercadoLiebreNavbar"
                aria-controls="mercadoLiebreNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mercadoLiebreNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">Ofertas</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Vender</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Ayuda</a></li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if (!user) { %>
                        <li class="nav-item"><a class="nav-link" href="/auth/register">Creá tu cuenta <i
                                    class="far fa-id-card"></i></a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/auth/login">
                                Ingresá
                                <i class="fas fa-sign-in-alt"></i></a>
                        </li>

                        <% } else { %>
                            <li class="nav-item">
                                <p>
                                    <%= user.name %>
                                        <i class="fas fa-user"></i>
                                </p>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Mis compras
                                    <i class="fas fa-shopping-basket">
                                    </i></a>
                            </li>

                            <% } %>
                </ul>
            </div>
            <!-- <div id="menu-toggle" class="text-center">
                <i id="toggle-menu-button" class="fa fa-bars burger"></i>
            </div> -->
        </div>
    </nav>
</header>