<% let actor = entity %>

<a href="/actors/<%= actor.id %>">
    <%= `${actor.firstName} ${actor.lastName}` %>
    <% if (actor.ActorMovie) { %>
    (<%= actor.ActorMovie.screenTime ? moment.duration(actor.ActorMovie.screenTime).humanize() : "N/A" %>)
    <% } else {  %>
    (<%= actor.movies.length %>)
    <% }  %>

</a>