<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <% for( let i = 0; i < breadcrumbs.length; i++ ) { %>
        <li class="breadcrumb-item"><a href="<%= breadcrumbs[i].url %>"><%= breadcrumbs[i].name %></a></li>
        <% } %>
    </ol>
</nav>