<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="background-main">
        <div class="header-top">
            <img class="width-50" src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            <form class="width-50" action="#" method="GET">
                <input type="search" placeholder="Buscar productos, marcas y más" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <p class="font-size-1"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <div class="text-center">
            <i id="toggle-menu-button" class="fa fa-bars burger"></i>
        </div>
        <nav id="main-nav">
            <ul>
                <li class="nav-item"><a class="nav-link" href="#">Ofertas</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Vender</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li class="nav-item"><a class="nav-link" href="/register">Creá tu cuenta <i
                            class="far fa-id-card"></i></a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <img class="width-100" src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main class="container">
        <section>
            <h3 class="font-size-4 margin-y-20">Basado en tu última visita</h3>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$6.770</p>
                    <p class="discount font-size-1 color-secondary">40% off</p>
                    <h4 class="description font-size-2 color-muted">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$230.000</p>
                    <p class="discount font-size-1 color-secondary">20% off</p>
                    <h4 class="description font-size-2 color-muted">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price">$70.500</p>
                    <p class="discount font-size-1 color-secondary">10% off</p>
                    <h4 class="description font-size-2 color-muted">Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$23.200</p>
                    <p class="discount font-size-1 color-secondary">5% off</p>
                    <h4 class="description font-size-2 color-muted">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section>
            <h3 class="font-size-4 margin-y-20">Ofertas</h3>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$6.770</p>
                    <p class="discount font-size-1 color-secondary">40% off</p>
                    <h4 class="description font-size-2 color-muted">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$230.000</p>
                    <p class="discount font-size-1 color-secondary">20% off</p>
                    <h4 class="description font-size-2 color-muted">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy"
                    class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$70.500</p>
                    <p class="discount font-size-1 color-secondary">10% off</p>
                    <h4 class="description font-size-2 color-muted">Teléfono móvil Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="background-light padding-15 margin-y-10">
                <img class="width-100" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                <div class="d-flex p-relative info-container padding-20">
                    <i id="truck-icon" class="fas fa-truck color-secondary background-light"></i>
                    <p class="price font-size-3">$23.200</p>
                    <p class="discount font-size-1 color-secondary">5% off</p>
                    <h4 class="description font-size-2 color-muted">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer class="background-light color-muted padding-20">
        <article class="margin-y-20">
            <i class="fas fa-credit-card color-terciary"></i>
            <h4 class="font-size-4">Pagá con tarjeta o en efectivo</h4>
            <p class="font-size-1">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="margin-y-20">
            <i class="fas fa-gift color-terciary"></i>
            <h4 class="font-size-4">Envío gratis desde los $ 2.500</h4>
            <p class="font-size-1">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos.
                Es un beneficio de
                MercadoPuntos.</p>
        </article>
        <article class="margin-y-20">
            <i class="fas fa-user-shield color-terciary"></i>
            <h4 class="font-size-4">Seguridad de principio a fin</h4>
            <p class="font-size-1">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque
                estás siempre prtegid@.
            </p>
        </article>
        <div>
            <p class="font-size-1">Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>

</html>