<!DOCTYPE html>
<html lang="en">
<% const title="Genre Create" %>

<head>
    <%- include("../partials/head.ejs", {title}) %>
</head>

<body>
    <div class="container mt-5">
        <%- include("../components/page-title.ejs", {title}) %>

        <form action="/genres" method="POST">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text">

            <div>
                <button type="submit">Save</button>
            </div>
        </form>
    </div>
</body>

</html>