<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/css/style.css' />
  <script src="/js/ejemplo.js"></script>
</head>

<body>
  <h1 id="title"><%= title %></h1>
  <p id="welcome">Bienvenidos a <span><%= title %></span></p>
</body>

</html>