<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="header">
            <img src="images/logo-mercado-liebre.svg" width="360" alt="Logo de MercadoLiebre">
            <p>Lugar para poner barra de búsqueda</p>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <img src="images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        <div class="main">
            <h3>Basado en tu última visita</h3>
            <div>
                <img src="images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
                <h4 class="description">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h4>
            </div>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$230.000</p>
                <p class="discount">20% off</p>
                <h4 class="description">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4>
            </div>
            <div>
                <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$70.500</p>
                <p class="discount">15% off</p>
                <h4 class="description">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h4>
            </div>
            <div>
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$34.000</p>
                <p class="discount">5% off</p>
                <h4 class="description">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h4>
            </div>
        </div>
        <div class="main">
            <h3>Ofertas</h3>        
            <div>
                <img src="images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
                <h4 class="description">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h4>
            </div>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$230.000</p>
                <p class="discount">20% off</p>
                <h4 class="description">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h4>
            </div>
            <div>
                <img src="images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$70.500</p>
                <p class="discount">15% off</p>
                <h4 class="description">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h4>
            </div>
            <div>
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
                <i class="fas fa-truck"></i>
                <p class="price">$34.000</p>
                <p class="discount">5% off</p>
                <h4 class="description">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h4>
            </div>
        </div>
        <div class="footer">
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con  tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre prtegid@.</p>
        </div>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </body>
</html>